name: Sample App Tests

on: push                                  

jobs:                                     
  sample_app_tests:                       
    name: "Run Tests Using Jest"
    runs-on: ubuntu-latest                
    steps:
      - uses: actions/checkout@v2         

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test